@mixin button {
  border: $display-none;
  border-radius: 2px;
  color: $white;
  height: 44px;
  margin-left: 5px;
  width: 90px;
}


@mixin flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
