@import './reset';
@import './variables';
@import './mixins';


body {
  box-sizing: border-box;
  color: $text-blue;
  font-family: $muli;
}

button {
  cursor: pointer;
}

input {
  box-sizing: border-box;
}

.app-container {
  height: $main-height;
  width: $main-width;
}

.header {
  height: 400px;
  width: $main-width;
  text-align: center;

  .logo {
    background: url('../design/design-logo.png') no-repeat;
    height: 240px;
    width: 230px;
    margin: 15px $display-auto;
    position: relative;

    .title {
      position: absolute;
      bottom: 0px;
      left: 33%;
      font-size: 21px;

      .weathr-ly {
        color: $primary-yellow;
      }
    }
  }

  .location-header-container {
    margin: 60px;

    .location-header {
      border-bottom: $input-border $primary-yellow;
      font-size: $standard-size;
      font-weight: bold;
      padding: 8px;
    }

  }

}

.form-group {
  margin-bottom: 15px;
  margin-left: 50px;
  width: $main-width;

  .form-input {
    border: none;
    border-bottom: $input-border $text-blue;
    font-size: 35px;
    margin: 0 $display-auto;
    padding-left: 10px;
    width: $standard-px-width * 5;
  }

  .submit {
    @include button;
    background: $royal-blue;
  }

  .google-btn {
    @include button;
    background: darken($green, 10%);

  }
}

.weather-container {
  @include flex;
  margin-top: 50px;
  width: $main-width;
}

.Today, .Monday, .Tuesday, .Wednesday, .Thursday, .Friday, .Saturday, .Sunday {
  justify-content: center;
  align-items: center;
  display: block;
  height: 330px;
  width: $main-width;
  margin-left: 10px;
  margin-bottom: 20px;
  text-align: center;
  width: $main-width - 40;

  .sunny {
    @include icon-size;
    background: url('../design/sunny.png') no-repeat;
  }

  .cloudy {
    @include icon-size;
    background: url('../design/partly-cloudy.png') no-repeat;
  }

  .rain {
    @include icon-size;
    background: url('../design/rain.png') no-repeat;
  }

  .windy {
    @include icon-size;
    background: url('../design/wind.png') no-repeat;
  }

  .snow {
    @include icon-size;
    background: url('../design/snow.png') no-repeat;
  }

  .foggy {
    @include icon-size;
    background: url('../design/foggy.png') no-repeat;
  }

  .thunder-storms {
    @include icon-size;
    background: url('../design/thunder.png') no-repeat;
  }

  .day {
    font-size: $standard-size - 5;
    font-weight: bold;
    margin: 15px;
  }

  .type {
    font-size: 17px;
  }

  .temp {
    margin-bottom: 12px;

    .high {
      font-weight: bold;
    }
  }

  .precip {
    margin-bottom: 12px;
  }

  .alert {
    color: $primary-red;
    font-weight: bold;
  }

  .Today {
    border-bottom: $input-border $primary-yellow;
  }
}

.Today, .Tuesday, .Thursday, .Saturday, {
  background-color: $royal-blue;
}


.built-container {
  width: $main-width;

  small {
    display: block;
    float: right;
    margin: 10px 15px;
    font-size: 12px;
  }

}
