@import './reset';
@import './variables';
@import './mixins';


body {
  box-sizing: border-box;
  color: $text-blue;
  font-family: $muli;
}

button {
  cursor: pointer;
}

.app-container {
  height: $main-height;
  width: $main-width;

  .header {
    height: 400px;
    width: $main-width;
    text-align: center;
  }

  .logo {
    display: inline-block;
    background: url('../design/design-logo.png') no-repeat;
    height: 240px;
    width: 230px;
    margin: 15px 0px;
    position: relative;
  }

  .form-group {
    display: inline-block;
    width: $main-width - 30;

    .form-input {
      border: none;
      border-bottom: $input-border $text-blue;
      font-size: 50px;
      width: $standard-px-width * 5;
    }

    .submit {
      background: $royal-blue;
      border: $display-none;
      border-radius: 2px;
      color: $white;
      height: 44px;
      margin-left: 5px;
      width: 90px;
    }
  }

  .title {
    position: absolute;
    bottom: 0px;
    left: 33%;
    font-size: 21px;

    .weathr-ly {
      color: $primary-yellow;
    }

  }
}


footer {
  height: 90px;
  width: $main-width;


  .footer-container {
    width: $main-width;


    small {
      display: block;
      float: right;
      margin-bottom: 10px;
      font-size: 12px;
    }
  }

  .small-logo {
    margin-top: 30px;
    display: block;
    float: right;
  }
 }
